*{
    margin: 0;
    padding: 0;
}
.main{
  /* background: url(candle.jpg);*/
   background: url(https://github.com/Priya-180103/project.github.io/blob/main/candle.jpg);
   background-repeat: no-repeat;
   background-size: 1500px;
   background-position: center;
   width: 100%;
   height: 109vh;
   padding-left: 60px;
   padding-top: 30px;
   padding-bottom: 20px;
}
.main h2 {
    color: white;
    padding-top: 30px;
}
.main p{
    color: white;
    padding-top: 230px;
    padding-left: 500px;
    font-weight: bold;
    

}
